<div class="row">
    <form [formGroup]="entryForm">
        <div class="form-group" >
            <input class="form-control"  type="text" formControlName="entryValue"/>
            <button style="display: none;" type="submit" (click)="addToList()">Submit</button>
            <div *ngFor="let item of toDoList">
                <div class="form-control">
                    <div *ngIf="!item.completed" class="row">
                        <div class="col-sm-10">
                            {{ item.title }}
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" (click)="remove(item.id)"/>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
